# Haskell build artifacts
dist-newstyle/
dist/
.stack-work/
cabal.sandbox.config
.cabal-sandbox/

# Output binaries
*.exe
*.o
*.hi
*.chi
*.dyn_o
*.dyn_hi

# IDE/Editor files
.vscode/
*.swp
*.mj
*.nix

# OS specific
.DS_Store
Thumbs.db